@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  background: #E9C893;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrap {
  margin: 2rem auto;
  border-radius: 2px;
  background: #325e46;
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0px 9px rgba(0, 0, 0, 0.1);
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #3cc47c;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  font-weight: normal;
}
h2 img {
  width: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 45px 0;
  /* height: 150px; */
  margin: 0 1.2rem;
}
header {
  /* Make header occupy full width */
  flex-wrap: wrap;
  text-align: center;
}
input[type=text] {
  font-size: 1.2rem;
  width: 75%;
  padding: 3px;
  border: 2px solid #3cc47c;
  background-color: #e9c893;
  outline: none;
}

h1 {
  text-align: left;
  color: #E9C893;
}
.results {
  padding: 0.5rem;
  margin-top: 2rem;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
td {
  text-align: center;
  padding: 0;
  width: 50%;
  overflow: hidden;
}
tr td:nth-child(1) {
  text-align: left;
}

.error {
  color: red;
}
.indented {
  margin: 0.8rem;
  display: block;
  color: #e9c893;
}


td:hover .original {
  /* display: block; */
  visibility: visible;
  height: auto;
  transform: translateY(-90%);
}
td:hover .parsed {
  transform: translateY(-200%);
  position: relative;
}
.original {
  height: 0px;
  visibility: hidden;
  border: 2px solid darkgray;
  outline: 4px solid rgba(0, 0, 0, 0.25);
  font-weight: bold;
  padding: 0.25rem;
  transition: all .2s linear;
  background: lightgray;
  width: 90%;
  margin: 0 auto;
}
.original::before, .original::after {
  content: "\"";
  font-weight: bold;
  font-family: times;
  position: relative;
}
.parsed {
  border: 2px solid #E9C893;
  outline: 4px solid rgba(0, 0, 0, 0.25);
  padding: 0.25rem;
  background: #3cc47c; /*#E9C893;*/
  color: #325e46;
  width: 90%;
  font-weight: bold;
  margin: auto;
  transition: all .2s linear;
  margin: 0.3rem auto;
}

@media screen and (max-width: 850px) {
  html,body {
    background-color: #325e46!important;
  }
  .wrap {
    /* remove right/left borders */
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  h2 {
    /* Move each word onto its own line, and reduce clearance from top */
    display: block;
    margin: 0.1rem;
    font-size: 1.8rem;
  }
  h2 img {
    /* Make logo smaller and on own line */
    margin: 0 auto;
    width: 50px;
    padding: 15px 0;
    display: block;
  }
  input[type=text] {
    font-size: 1rem;
  }
  h1 {
    margin: 0.8rem 0;
    font-size: 1.2rem;
  }
  tr td:nth-child(1) {
    width: 35%;
  }
  tr td:nth-child(2) {
    width: 65%;
  }
  .parsed {
    font-size: 0.8rem;
    width: 95%;
  }
  .indented {
    font-size: 0.8rem;
  }
}
