@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  background: #E9C893;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrap {
  margin: 2rem auto;
  border-radius: 2px;
  background: #325e46;
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0px 9px rgba(0, 0, 0, 0.1);
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #3cc47c;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  font-weight: normal;
}
h2 img {
  width: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 45px 0;
  /* height: 150px; */
  margin: 0 1.2rem;
}
header {
  /* Make header occupy full width */
  flex-wrap: wrap;
  text-align: center;
}
input[type=text] {
  font-size: 1.2rem;
  width: 75%;
  padding: 3px;
  border: 2px solid #3cc47c;
  background-color: #e9c893;
  outline: none;
}

table h1 {
  text-align: left;
  color: #E9C893;
}
.results {
  padding: 0.5rem;
  margin-top: 2rem;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
td {
  text-align: center;
  padding: 0.5rem 0;
  width: 50%;
  overflow: hidden;
}
tr td:nth-child(1) {
  text-align: left;
}

.error {
  color: red;
}


/* .parsed {
  display: inline-block;
  border: 2px solid gray;
  padding: 0.25rem;
  border-radius: 20px;
  background: lightgray;
  /* transition: all 0.1s linear; */
/* }
.parsed:hover { */
  /* transform: translateY(-50%); */
  /* opacity: 0.0; */
  /* visibility: hidden; */
/* }
.parsed:hover ~ div {
  visibility: visible;
  transform: translateY(-100%);
}
*/
td:hover .original {
  display: block;
  transform: translateY(-50%);
}
td:hover .parsed {
  transform: translateY(-200%);
  position: relative;
}
.original {
  display: none;
  border-left: 10px solid gray;
  padding: 0.25rem;
  transition: all 0.2s linear;
}
.original::before {
  content: "\"";
  font-weight: bold;
  font-size: 1.5rem;
  font-family: times;
  position: relative;
  left: -10px;
  top: -10px;
}
.parsed {
  border: 2px solid #E9C893;
  padding: 0.25rem;
  border-radius: 5px;
  background: #3cc47c; /*#E9C893;*/
  color: #325e46;
  /* display: block;
  visibility: hidden; */
  transition: all 0.2s linear;
}
